@font-face {
    font-family: 'Fascinate Inline';
    src: url('FascinateInline-Regular.woff2') format('woff2'),
        url('FascinateInline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fascinate';
    src: url('Fascinate-Regular.woff2') format('woff2'),
        url('Fascinate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

